name: Get DMG Version

on: 
  workflow_dispatch:

jobs:
  get-version:
    runs-on: macos-latest
    steps:
      - name: Download DMG file
        run: |
          curl -L -o Brave-Browser.dmg https://laptop-updates.brave.com/latest/osx/Brave-Browser.dmg
          ls -l Brave-Browser.dmg

      - name: Create Mount Directory
        run: |
          mkdir -p ${{ github.workspace }}/mount

      - name: Mount DMG file
        run: |
          hdiutil attach -mountpoint ${{ github.workspace }}/mount Brave-Browser.dmg
          
      - name: Get version from DMG
        run: |
          VERSION=$(defaults read ${{ github.workspace }}/mount/Brave-Browser.app/Contents/Info.plist CFBundleShortVersionString)
          echo "Version: $VERSION"
          
      - name: Unmount DMG file
        run: |
          hdiutil detach ${{ github.workspace }}/mount

      - name: Cleanup
        run: |
          rm -f Brave-Browser.dmg
          rm -rf ${{ github.workspace }}/mount
